<div class="menu-header-wrapper">

  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand">
        <img src="assets/svg/logo-medplace.svg" height="45" alt="" srcset="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link btn-icon btn-icon--circle" role="button">
              <img src="assets/svg/icon-bell.svg" alt="icon bell">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-0" role="button">
              <app-profile-image-icon imgURL="assets/images/profile-img.png"></app-profile-image-icon>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>
