<div class="auth-system-wrapper">
  <div class="container-fluid">
    <div class="row h-100">
      <div class="col-12 col-md-7">
        <div class="banner">
          <button type="button" class="btn btn-link">
            <img src="assets/svg/logo-medplace.svg" width="230" alt="" srcset="">
          </button>
          <div class="text-white animate__animated animate__fadeIn">
            <h2>Bienvenido a nuestra plataforma</h2>
            <p class="mb-5">Puedes gestionar los turnos de tus empleados de manera fácil y rápida.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="d-flex"></div>
        <div class="card fc-2">
          <div class="animate__animated animate__fadeIn">

            <div class="card-body px-4 py-5">
              <h4 class="card-title fc-1 fw-semibold">Iniciar sesión</h4>
              <p class="mb-4">Por favor ingrese sus datos para ingresar a la cuenta.</p>

              <form>
                <div class="form-group mb-3">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" autocomplete="off" id="email" formControlName="email" placeholder="Ingrese su email">
                </div>
                <div class="form-group">
                  <label for="password">Contraseña</label>
                  <div class="input-group">
                    <input [type]="hide ? 'password' : 'text'" class="form-control border-end-0" autocomplete="off" id="password" formControlName="email" placeholder="Ingrese su contraseña">
                    <span type="button" class="input-group-text" (click)="hide = !hide"><fa-icon [icon]=" hide ? faEyeSlash : faEye"></fa-icon></span>
                  </div>
                </div>
                <p class="text-end mt-2 user-select-none">
                  <a href="" class="fc-2 text-decoration-none"><small>Olvidé mi contraseña</small></a>
                </p>
                <button type="button" class="btn btn-primary w-100 text-white mb-5">Iniciar sesión</button>
                <p class="text-center mb-2 user-select-none"><small>¿No tienes cuenta?</small></p>
                <button routerLink="/register" type="button" class="btn btn-outline-primary w-100">Regístrate acá</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
