<div class="greeting-box-wrapper">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col">
        <h5 class="m-0">Hola Claudia,</h5>
        <p class="m-0">Acá puedes gestionar los perfiles.</p>
      </div>
      <div class="col">
        <div class="date text-end">
          <p class="mb-0">23 de Marzo, 2022</p>
          <p class="mb-0">09:00 AM</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-content-wrapper animate__animated animate__fadeIn">
  <div class="container">
    <div class="row mb-4">

      <div class="col">
        <div class="card data active">
          <div class="card-body">
            <p>Turnos publicados</p>
            <p class="results">90 Turnos</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card data">
          <div class="card-body">
            <p>Turnos confirmados</p>
            <p class="results">80</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card data">
          <div class="card-body">
            <p>Turnos pendientes</p>
            <p class="results">
              <span>10</span>
              <span> 11,1% <fa-icon [icon]="faArrowUp" style="color: #B4D57F;"></fa-icon></span>
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-4">...</div>
      <div class="col">...</div>
    </div>
  </div>
</div>
