<app-header-page></app-header-page>

<div class="page-content-wrapper animate__animated animate__fadeIn">
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="table-simple-wrapper profile">
          <div class="table-control">
            <div class="control-side">
              <h5>Gestión de perfiles</h5>
            </div>
            <div class="control-side">

              <form>
                <input
                  type="text"
                  class="form-control search-field"
                  autocomplete="off"
                  id="search"
                  formControlName="search"
                  placeholder="Buscar usuario"
                  />
                <button type="button" class="btn btn-light btn-sm btn-control">
                  <img src="assets/svg/icon-user-delete.svg" width="20" alt="icono Eliminar"> Eliminar usuarios
                </button>
                <button type="button" class="btn btn-light btn-sm btn-control">
                  <img src="assets/svg/icon-user-add.svg" width="18" alt="icono Nuevo"> Nuevo usuario
                </button>
              </form>

            </div>
          </div>
          <div class="table-header">
            <div class="table-row">
              <div class="table-col justify-content-center" style="max-width: 4em;">
                <label class="checkbox-wrapper">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>

              <div class="table-col">
                Usuario
              </div>
              <div class="table-col">
                Email
              </div>
              <div class="table-col">
                Tipo de usuario
              </div>
              <div class="table-col"></div>
            </div>
          </div>

          <div class="table-body">

            <div class="table-row">
              <div class="table-col justify-content-center" style="max-width: 4em;">
                <label class="checkbox-wrapper">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="table-col">col</div>
              <div class="table-col">col</div>
              <div class="table-col">col</div>
              <div class="table-col">
                <div class="actions">
                  <button
                    type="button"
                    class="btn btn-link"
                    (click)="editProfile($event)">
                    <img src="assets/svg/icon-edit.svg" alt="icono editar">
                  </button>
                  <button
                    type="button"
                    class="btn btn-link"
                    (click)="deleteProfile($event)">
                    <img src="assets/svg/icon-delete.svg" alt="icono borrar">
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
