<div class="greeting-box-wrapper">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col">
        <h5 class="m-0">Hola Claudia,</h5>
        <p class="m-0">Acá puedes gestionar los perfiles.</p>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>

<div class="page-content-wrapper animate__animated animate__fadeIn">
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="table-simple-wrapper">
          <div class="table-control">
            <div class="control-side">
              <h5>Gestión de perfiles</h5>
            </div>
            <div class="control-side">

              <form>
                <input type="text" class="form-control" autocomplete="off" id="search" formControlName="search" placeholder="Buscar usuario">
                <button type="button" class="btn btn-light btn-sm btn-control">
                  <img src="assets/svg/icon-user-delete.svg" alt=""> Eliminar usuarios
                </button>
                <button type="button" class="btn btn-light btn-sm btn-control">
                  <img src="assets/svg/icon-user-add.svg" alt=""> Nuevo usuario
                </button>
              </form>

            </div>
          </div>
          <div class="table-header">
            <div class="table-row">
              <div class="table-col justify-content-center" style="max-width: 4em;">
                <label class="checkbox-wrapper">
                  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span>
                </label>
              </div>

              <div class="table-col">
                Usuario
              </div>
              <div class="table-col">
                Email
              </div>
              <div class="table-col">
                Tipo de usuario
              </div>
              <div class="table-col"></div>
            </div>
          </div>

          <div class="table-body">
            <div class="table-row">
              <div class="table-col justify-content-center" style="max-width: 4em;">
                <label class="checkbox-wrapper">
                  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="table-col">col</div>
              <div class="table-col">col</div>
              <div class="table-col">col</div>
              <div class="table-col">col</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
