// .table-simple-wrapper {}

.table-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
  .control-side {
    display: flex;
    h5 {
      margin: 0;
      font-weight: 900;
    }
    form {
      align-items: center;
      gap: 1em;
      display: flex;
      white-space: nowrap;
      .form-control {
        height: 35px;
        &.search-field {
          font-size: .75em;
          background-color: #ffffff;
        }
      }
    }
  }
}
.table-header {
  background-color: rgba(185, 185, 185, .2);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-weight: 700;
}

// .table-body {}

.table-row {
  height: 50px;
  display: flex;
  padding: 0 1em;
  align-items: center;
  gap: 1em;
  border-top: 1px solid #E8E8E8;
}
.table-col {
  display: flex;
  justify-content: flex-start;
}

.btn-control {
  background-color: #FFFFFF;
  border: 1px solid #D0D0D0;
  height: 35px;
  font-size: .75em;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: .5em;
}


.checkbox-wrapper {
  display: block;
  position: relative;
  height: 18px;
  padding-left: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark {
      border-color: #07B2C5;
      background-color: #07B2C5;
    }
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 2px;
    background-color: #FFFFFF;
    border: 1px solid #C4C4C4;
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
    &:after {
      left: 5px;
      top: 0px;
      width: 6px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.table-simple-wrapper {
  &.profile {
    .table-col {
     &:nth-child(1) {
      width: 5%;
      // border: 1px solid red;
     }
     &:nth-child(2) {
      width: 25%;
      // border: 1px solid red;
    }
    &:nth-child(3) {
      width: 30%;
      // border: 1px solid red;
    }
    &:nth-child(4) {
       width: 20%;
      //  border: 1px solid red;
      }
      &:nth-child(5) {
       width: 20%;
       justify-content: end;
     }
    }
  }
}
