<div>
  <h4 class="card-title fc-1 fw-semibold">Recuperar contraseña</h4>
  <p class="mb-4">Por favor ingrese correo electrónico</p>

  <form>
    <div class="form-group mb-3">
      <label for="email">Email</label>
      <input type="email" class="form-control" autocomplete="off" id="email" formControlName="email" placeholder="Ingrese su email">
    </div>

    <button type="button" class="btn btn-primary w-100 text-white mb-4" (click)="recover()">
      Recuperar contraseña
    </button>
  </form>
</div>
