.swal2-container.swal2-center>.swal2-popup {
  border-radius: 20px !important;
  // padding: 0 3em 2em !important;
}
.swal2-title {
  font-size: 1.29em !important;
  padding: 0 2em !important;
}
.swal2-html-container {
  font-size: .85em !important;
  padding: 0 3.5em !important;
  margin: 0 !important;
  text-align: left !important;
}
